* {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: rgb(200, 204, 204);
  width: 100%;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;


}

nav {
  display: flex;
  background-color: rgb(73, 80, 80);
  width: 100%;
  height: 50px;
  color: white;
  margin-top: 7px;
  margin-bottom: 7px

}

.links {
  display: flex;
  list-style: none;
  text-align: center;
  line-height: 50px;
}

.links li:hover {
background: red;
}

#home{
 background-color: darkred;
}

#home:hover{
  background: red;
}

header {
  text-align: center;
  background-color: rgb(118, 165, 42);
  width: 100%;
  height: 250px;
  margin-bottom: 7px;
  position: relative;

}
img{
  width: 100%;
  height: 250px;
}

aside {
  text-align: center;
  background-color: darkorange;
  width: 30%;
  height: 637px;
  margin-right: 7px;
  float: left;
  position: relative;

}

section {
  text-align: center;
  background-color: rgb(255, 0, 234);
  width: 69.2%;
  height: 315px;
  float: right;
  margin-bottom: 7px;
  position: relative;

}

.content {
  text-align: center;
  background-color: darkslategray;
  width: 69.2%;
  height: 315px;
  float: right;
  margin-bottom: 7px;
  position: relative;

}

footer {
  text-align: center;
  background-color: firebrick;
  width: 100%;
  height: 100px;
  clear: both;
  position: relative;

}